<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNH0ZoWURtYf4qQ1gy4OcQu4RE1EDws5w</string>
	<key>GCM_SENDER_ID</key>
	<string>242702312475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jankenponApp</string>
	<key>PROJECT_ID</key>
	<string>game-app-b3ecc</string>
	<key>STORAGE_BUCKET</key>
	<string>game-app-b3ecc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242702312475:ios:ac0b1df1eb3f0cb7a484be</string>
</dict>
</plist>